
h4 {
	text-align:center;	
	
}

table{
/*max-width: 900px;*/	
margin-top:40px;
}
.inp{
	
	width:100% !important;
	margin-top: 20px !important;
}
.inp.text
{
	display:block;
}
.myform
{
	display:block;
	margin-bottom: -20px;
}
.tasktable
{
	font-size:14px;
}
.formsubmit
{
	margin: 0 auto;
	margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
	display: block;

}
.pagination
{
	padding-left:40px !important;
}
.block
{
	padding-left:30px !important;
	padding-right:30px !important;
}
#status
{
	margin-top:10px;
}
.tline:hover
{
	background-color:yellow !important;
	cursor: pointer;
}
.adminform
{
	margin-top:20px;
	margin-left:20px;
}